doctype html
head
  title #{title}
  link(rel='stylesheet' href="/bower_components/bootstrap/dist/css/bootstrap.css")
  link(rel='stylesheet' href="/css/custom.css")
body
  .container(style="text-align: center")
    //- block content
    h1 Hello World!
    br
    img(src='http://freedesignfile.com/upload/2017/08/ufo-icon-vector.png', style="max-width: 21em")
    hr
    footer
      p Copyright &copy 2028
  
//-   script(src='/bower_components/jquery/dist/jquery.js') 
//-   script(src='/bower_components/bootstrap/dist/js/bootstrap.js') 
//-   script(src='/js/main.js') 
